<!DOCTYPE html>
<html>
<head>
  <title>Juju.rocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Resources below here live in public/ -->
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/camera.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/js/superfish.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/jquery.ui.totop.js"></script>

  <script type="text/javascript" src="/js/camera.js"></script>
  <script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>

  <script type="text/javascript" src="/js/jquery.caroufredsel.js"></script>
  <script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>

  <!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
	<![endif]-->

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55526078-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body class="main">
  <div id="main">
      <div class="bg2"></div>
      <div class="bg3"></div>
      <div id="inner">
        <div class="container">
          <div class="row">
            <div class="span2">
              <div class="box1"></div>
            </div>
            <div class="span10">
              <div class="box0">
              <%= render "shared/top_nav" %>
              <%= render "shared/side_nav" %>
              <%= yield %>
              <%= render "shared/footer" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
